<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All Users</h2>

<a th:href="@{/users/add}">Add New User</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Action</th>
    </tr>

    <tr th:each= "user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
            <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>